.fl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    margin-left: 10px;
}

.media {
    padding: 100px;
    text-align: center;
    margin-top: 20px;
}